body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;

}

/*CSS for Login page*/
  
#left {
	height: 100%;
	width: 50%;
	background-image: url('../img/bleft.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
	position: fixed;
	left: 0;
	overflow-x: hidden;
	transition: 0.5s;
}

#right {
	height: 100%;
	width: 50%;
	background-image: url('../img/bright.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
	position: fixed;
	right: 0;
	left: 50;
	overflow-x: hidden;
	transition: 0.5s;
}

img {
	position: absolute;
	display: block;
}

#login {
	width: 450px;
	left: 90px;
	bottom: 230px;
    position: absolute;
    float: right;
    display: block;	
}


#login-username,
#login-password,
.btn-block {
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    position: relative;
}

@media (max-width: 3840px) and (max-height: 2400px) {

img {
	top: 500px;
	position: fixed;
	display: block;
}

#login {

	left: 60px;
	top: 220px;
    position: absolute;
    float: right;
    display: block;	
    zoom: 320%;
}

#log-in {

	left: 60px;
	top: 220px;
    position: absolute;
    float: right;
    display: none;	
    zoom: 320%;
    visibility: hidden;
}

} /*End of 3840 x 2400*/

@media (max-width: 2560px) and (max-height: 1600px), (max-height: 1440px) {

img {
	top: 300px;
	position: fixed;
	display: block;
}

#login {
	left: 40px;
	top: 200px;
    position: absolute;
    float: right;
    display: block;
    zoom: 220%;
}

} /*End of 2560 x 1600, 1440*/

@media (max-width: 1920px) and (max-height: 1200px), (max-height: 1080px) {

img {
	top: 200px;
	position: fixed;
	display: block;
}

#login {
	top: 230px;
    position: absolute;
    float: right;
    display: block;
    zoom: 1.6;
}

} /*End of 1920 x 1440, 1080*/

@media (max-width: 1680px) and (max-height: 1050px) {

img {
	top: 200px;
	position: fixed;
	display: block;
}

#login {
	top: 270px;
	left: 60px;
    position: absolute;
    display: block;
    zoom: 1.35;
}

} /*End of 1680 x 1050*/

@media (max-width: 1600px) and (max-height: 1024px) {

#left {
	height: 100%;
	width: 50%;
	background-image: url('../img/Left.jpeg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
	position: fixed;
	left: 0;
	overflow-x: hidden;
	transition: 0.5s;
}

#right {
	height: 100%;
	width: 50%;
	background-image: url('../img/Right.jpeg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
	position: fixed;
	right: 0;
	left: 50;
	overflow-x: hidden;
	transition: 0.5s;
}

img {
	top: 200px;
	position: fixed;
	display: block;
}

#login {
	top: 270px;
	left: 50px;
    position: absolute;
    display: block;
    zoom: 1.3;
}

} /*End of 1600 x 1024*/

@media (max-width: 1600px) and (max-height: 900px) {

img {
	top: 100px;
	position: fixed;
	display: block;
}

#login {
	top: 215px;
	left: 50px;
    position: absolute;
    display: block;
    zoom: 1.27;
}

} /*End of 1600 x 900*/

@media (max-width: 1440px) {

img {
	top: 130px;
	position: fixed;
	display: block;
}

#login {
	top: 240px;
	left: 45px;
    position: absolute;
    display: block;
    zoom: 1.2;
}


} /*End of 1440*/

@media (max-width: 1366px) and (max-height: 768px) {


img {
	top: 30px;
	position: fixed;
	display: block;
}

#login {
	top: 220px;
	left: 90px;
    position: absolute;
    display: block;
    zoom: .9;

}

} /*End of 1366 x 768*/

/*For desktop screen and tablet (Landscape)*/
@media (max-width: 1280px) and (max-height: 800px){

img {

	top: 100px;
	position: absolute;
	display: block;
}

#login {
	top: 220px;
	left: 70px;
    position: absolute;
    display: block;
    width: 350px;

}

} /*End of 1280 x 800*/

@media (max-width: 1024px) and (max-height: 768px){

img {

	top: 80px;
	position: absolute;
	display: block;
}

#login {
	top: 180px;
	left: 70px;
    position: absolute;
    display: block;
    width: 300px;

}

} /*End of 1280 x 800*/


/*For mobile screens*/
@media (max-width: 1080px) and (max-height: 1920px),
(min-width: 1080px) and (min-height: 1920) {

#left {
	height: 100%;
	width: 100%;
	background-image: url('../img/Left.jpeg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
	position: fixed;
	left: 0;
	overflow: hidden;
	transition: 0.5s;
}


#right {
	height: 100%;
	width: 50%;
	background-image: url('../img/Right.jpeg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
	position: fixed;
	right: 0;
	left: 50;
	overflow: hidden;
	transition: 0.5s;
	display: none;
	visibility: hidden;
}

img {
	left: 0;
	top: 200px;
	position: absolute;
	display: block;
	overflow: hidden;
}

#log-in {
    position: absolute;
    display: block;
    visibility: visible;
    zoom: 2.8;
    left: 70px;
    overflow: hidden;

}

} /*End of 1080 x 1920*/

@media (max-width: 768px) and (max-height: 1280px) {

#left {
	height: 100%;
	width: 100%;
	background-image: url('../img/Left.jpeg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
	position: fixed;
	left: 0;
	overflow: hidden;
	transition: 0.5s;
}

img {
	left: 0;
	top: 100px;
	position: absolute;
	display: block;
	overflow: hidden;
}

#log-in {
    position: absolute;
    display: block;
    visibility: visible;
    zoom: 1.4;
    left: 150px;
    top: 310px;
    overflow: hidden;

}

} /*End of 768 x 1280*/


@media (max-width: 768px) and (max-height: 1024px) {

#left {
	height: 100%;
	width: 100%;
	background-image: url('../img/Left.jpeg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
	position: fixed;
	left: 0;
	overflow: hidden;
	transition: 0.5s;
}

img {
	left: 0;
	top: 80px;
	position: absolute;
	display: block;
	overflow: hidden;
}

#log-in {
    position: absolute;
    display: block;
    visibility: visible;
    zoom: 1.3;
    left: 170px;
    top: 310px;
    overflow: hidden;

}

} /*End of 768 x 1024*/

@media (max-width: 720px) and (max-height: 1280px) {

#left {
	height: 100%;
	width: 100%;
	background-image: url('../img/Left.jpeg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
	position: fixed;
	left: 0;
	overflow: hidden;
	transition: 0.5s;
}

img {
	left: 0;
	top: 90px;
	position: absolute;
	display: block;
	overflow: hidden;
}

#log-in {
    position: absolute;
    display: block;
    visibility: visible;
    zoom: 1.5;
    left: 120px;
    top: 270px;
    overflow: hidden;

}

} /*End of 768 x 1280*/

@media (max-width: 540px) and (max-height: 960px) {

#left {
	height: 100%;
	width: 100%;
	background-image: url('../img/Left.jpeg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
	position: fixed;
	left: 0;
	overflow: hidden;
	transition: 0.5s;
}

img {
	left: 0;
	top: 60px;
	position: absolute;
	display: block;
	overflow: hidden;
}

#log-in {
    position: absolute;
    display: block;
    visibility: visible;
    zoom: 1.1;
    left: 130px;
    top: 290px;
    overflow: hidden;

}

} /*End of 540 x 960*/

@media (max-width: 480px) and (max-height: 800px) {

#left {
	height: 100%;
	width: 100%;
	background-image: url('../img/Left.jpeg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
	position: fixed;
	left: 0;
	overflow: hidden;
	transition: 0.5s;
}

img {
	left: 0;
	top: 20px;
	position: absolute;
	display: block;
	overflow: hidden;
}

#log-in {
    position: absolute;
    display: block;
    visibility: visible;
    zoom: 1.1;
    left: 120px;
    top: 270px;
    overflow: hidden;

}

} /*End of 540 x 960*/
